{% extends 'base.html.twig' %}

{% block title %}Livre d'or de conference{% endblock %}

{% block body %}
    <h2>Donnez votre feedback!</h2>
    
    <a class="btn " href="{{ path('admin') }}"><button>Retour à l'admin</button></a>
    
    {% for conference in conferences %}
        <div>
            <h4>Conference à {{ conference.city }} l'année : {{ conference.year }}</h4>
            <p>
                <a href="{{ path('conference', { id: conference.id }) }}">Voir</a>
            </p>
            {% if conference.comments | length > 0 %}
                <p>Actuellemnt {{ conference.comments | length }} commentaire</p>
            {% else %}
                <p>N'a actuellement {{ conference.comments | length }} commentaire</p>
            {% endif %}

        </div>
    {% endfor %}
{% endblock %}
