{% extends 'base.html.twig' %}

{% block title %}Livre d'or de Conference {{ conference }}{% endblock %}

{% block body %}
    <h2>{{ conference }} Conference</h2>

    <a href="{{ path('conferences') }}">Ajouter un commentaire ?</a>
    <div>
        
    {% if comments|length > 0 %}
        {% for comment in comments  %}
            <div style="width: 300px;max-height:500px;border:1px solid #ccc; padding:5px;margin:10px;">
                {% if comment.photofilename %}
                    <img style="width:200px;height:200px" src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" />                
                {% else %}
                    <em>Aucune photo associée</em>
                {% endif %}
                
                <h4>{{ comment.author }}</h4>
                <small>
                    {{ comment.createdAt|format_datetime('medium', 'short') }}
                </small>

                <p>{{ comment.text }}</p>
            </div>
        {% endfor %}

        <div class="buttons">
            {% if previous >= 0  %}
                <a href="{{ path('conference', {slug : conference.slug, offset: previous }) }}">Precedent</a>
            {% endif %}

            {% if next < comments|length %}
                <a href="{{ path('conference', {slug : conference.slug, offset: next }) }}">Suivant</a>
            {% endif %}
        </div>

    {% else %}
        <div>Aucun commentaire n'a encore été posté pour cette conférence</div>
    {% endif %}

    </div>
{% endblock %}
